<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
   <div class="container">
    <h1 th:fragment="header" class="display-4 bg-primary text-center p-5">Courses</h1>
    <a href="addCourse"><button class="btn btn-primary btn-sm">New Course</button></a>
   	<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="course:${courses}">
      <th scope="row" th:text="${course.id}"></th>
      <td th:text="${course.title}"></td>
      <td th:text="${course.description}">Otto</td>
      <td th:text="${course.price}">@mdo</td>
      <td>
        <a th:href="${'updateCourse/'+course.id}"><button class="btn btn-primary btn-sm">Update</button></a>
        <button class="btn btn-primary btn-sm" th:attr="onclick=|confirmDelete('${course.id}')|">Delete</button>
      </td>
    </tr>
    
  </tbody>
</table>
<div th:fragment="footer" class="bg-dark text-white text-center"> End Point Tech </div>
   </div>
    
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<script>
  function confirmDelete(id){
    let isConfirmed = window.confirm("Delete Confirm?");
    if(isConfirmed){
      const xhttp = new XMLHttpRequest();
      xhttp.onload = function() {
        if(response.text==='done'){
          window.location.href='/'
        }
      }
      xhttp.open("post", "/deleteCourse/"+id, true);
      xhttp.send();
    }
  }
</script>


</html>